*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s ease-in-out;
}
body{
  background: #fff;
}

/* NAV */
nav{
  width: 100%;
  height: 30px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #ccc;
  text-align: center;
}
nav > a {
  text-decoration: none;
  color: #000;
}
nav > span {
  float: left;
  margin-left: 40px;
}

.side-menu{
  height: 100%;
  width: 250px;
  left: 0;
  z-index: 1;
  position: fixed;
  background: #333;
  box-shadow: 1px 1px 1px 1px #ccc;
}
ul{
  padding-inline-start: 0;
  padding-top: 15px;
}

li{
  list-style-type: none;
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #303030;
}
.nav-link{
  padding: 10px 130px 10px 10px;
  text-decoration: none;
  color: #7c7979
}

.nav-link:hover {
  color: #f0f0f0;
}
.main {
  margin-left: auto;
  width: 80%;
  position: relative
}

/* TABLES */

table{
  width: 90%;
  margin-top: 40px;
  margin-left: 5%;
  border-collapse: collapse;
  text-align: center;
}
th, td{
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 5px 20px;
}
tr:hover {
  margin-bottom: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-bottom: 2px solid #ccc;
  transition: none;

}
th {
  color: #000;
}
td {
  background: #fff;
  color: #333;
}


/* TEXT */
.title{
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
  font-weight: 400;
}

/* POSITIONING */
.center{
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}
.right{
  float: right;
  margin-right: 40px;
}

/* BUTTONS */
.btn{
  padding: 10px 25px;
  border: 0;
  cursor: pointer;
  background: #1f51da;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.block {
  display: block;
  padding: 15px 200px;
  margin: auto;
  margin-top: 2rem;
}
.block:hover{
  box-shadow: 1px 1px 1px 1px #ccc;
  transition: none;
}

a.btn.block{
  display: block;
  padding: 15px 149px;
  width: 140px;
  text-align: center;
}
a.btn {
  padding: 10px 25px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.main-btn{
  display: inline-block;
  margin-top: 30px;
}
.btn:hover {
  box-shadow: 1px 1px 10px 7px #ccc;
  transition: none;
}

.green {
  background: #018a41;
}

.red {
  background: #aa3803;
}

.yellow {
  background: #b1c406;
}
.dark {
  background: #333;
}


/* CARD FORMS */
.form-card{
  margin: auto;
  margin-top: 100px;
}
input, .form-textarea{
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.input-form, .form-textarea {
  width: 430px;
  padding: 5px;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  color: #000;
}
.form-textarea{
  height: 4rem;
}
.input-form:focus{
  outline: none;
}
.label {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.label + .input-form, .label + select {
  margin-top: 8px;
}

select {
  display: block;
  margin: auto;
  width: 440px;
  padding: 5px;
  height: 2.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  color: #000;
}

td input {
  margin: auto;
}
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  /* width: 1em; */
  /* height: 1em; */
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}
/* The container */
.container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  height: 25px;
  width: 25px;
  /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.container input ~ .checkmark {
  background-color: #fff;
  border: 1.5px solid black;
  border-radius: 5px;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
} */

/* input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
} */

/* input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
} */

/* TOAST */
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  margin-left: -125px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}

#toast #desc{  
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
